<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lib -->
      <package
            uri="urn:hl7-org:v2xml"
            class="org.hl7.v2xml.V2xmlPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated lib -->
      <parser
            type="v2xml"
            class="org.hl7.v2xml.util.V2xmlResourceFactoryImpl"/>
   </extension>

</plugin>
